.calendar-top {
  width: 100%;
  display: flex;
  &-dragable {
    position: relative;
    z-index: 1;
    height: 25px;
    width: 330px;
    cursor: move;
  }
  &-close {
    width: 30px;
    height: 25px;
    background: url(../../assets/images/close.png) center no-repeat;
    background-size: 40%;
    transition: background-image, background-color 0.1s;
    &:hover {
      background-image: url(../../assets/images/close-hover.png);
      background-color: red;
    }
  }
}
