$basicBgColor: rgb(43, 49, 61);
$gray-1: rgb(95, 97, 101);
$gray-2: rgb(169, 169, 169);
$gray-3: rgb(223, 223, 223);
$blue-1: rgb(0, 120, 215);
$blue-2: rgb(102, 174, 215);
$blue-3: rgb(153, 201, 239);
